@mixin flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin grid {
  display: grid;
  align-items: center;
}

//$primary: #20bf6b;
$primary: #455A64;
$light: #fff;
$dark: #222;

@mixin menubar {
  box-sizing: border-box;
  @include flex();
  flex-direction: row;
  justify-content: space-between;
  background: $primary;
  position: relative;

  .brand {
    text-decoration: none;

    .name {
      font-weight: bold;
      color: lighten($primary, 40);
      padding: 0 20px;
    }
  }

  .badge {
    font-size: 10px;
    font-weight: bold;
    background: darken($primary, 5);
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 20px;
  }

  ul {
    @include flex();

    > li, .link {
      margin: 0;
      padding: 0;
      text-decoration: none;
      outline: none;
      list-style: none;
    }
  }

  .link {
    @include flex();
    justify-content: center;
    width: 50px;
    height: 50px;
    color: lighten($primary, 20);
    font-size: 20px;

    &.active {
      color: $light;
      font-weight: bold;
    }
  }

  .icon {
    @include flex();
    justify-content: center;
  }
}