@import "../../resources/scss/vars";

.Orders {
  box-sizing: border-box;

  .operations {
    padding: 20px 40px;

    .operation{
      margin-bottom: 20px;
    }
    .date{
      font-size: 0.7rem;
      @include flex;
      .icon{
        width: 25px;
        height: 25px;
        @include flex;
        justify-content: center;
      }
      .calendar{
        text-transform: capitalize;
      }
    }
    .billing, .status{
      margin-top: 10px;
    }
    .status{
      padding: 0 20px;
    }

  }
}
