.Stocks {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(1, auto 1fr);
  overflow: hidden;

  .content {
    padding: 20px 0;
    overflow: auto;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 140px));
    grid-gap: 10px;
    justify-content: center;
    align-items: stretch;
    grid-auto-flow: dense;
  }
}

@media screen and (min-device-width: 768px) {
  .Stocks {
    .header, .content {
      width: 70vw;
      margin: 0 auto;
    }
  }
}
