.Stocks {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(1, auto 1fr);
  overflow: hidden;
  height: 100%;

  .content {
    padding: 20px;
    overflow: auto;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 140px));
    grid-gap: 10px;
    align-items: stretch;
    grid-auto-flow: dense;
  }
}

@media screen and (min-device-width: 768px) {
  .Stocks {
    .header, .content {
      width: 100%;
      margin: 0 auto;
    }
  }
}
