.header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1, 1fr auto);
    align-items: center;
    background: darken(#fff, 3);

    .title {
        padding: 20px;
        color: lighten(#222, 10);
    }

    .subtitle {
        font-size: 0.7rem;
    }

    .field {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr 30px);
        grid-gap: 10px;
        align-items: center;
    }
}